<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'play_app\css\base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% block stylesheets %}{% endblock %}

	<link rel="icon" href="{% static 'play_app/images/site_icon.png' %}">
</head>

<body>
	<nav class="teal accent-4 pin-nav">
		<div class="nav-wrapper">
			<a href="{% url 'play_app:index' %}" class="brand-logo left">𝓢𝓹𝓸𝓽𝓲𝓟𝓵𝓪𝔂</a>
			<ul class="right">
				<li class="home-li-js"><a href="{% url 'play_app:index' %}"><i class="material-icons left">home</i>Home</a></li>
				<li><a id="loginBtn-js" href="" onclick="loginSpotify()"><i class="material-icons left">account_box</i>Login</a></li>
			</ul>		
		</div>
	</nav>

	{% block body_block %}{% endblock %}
	
	<script src="{% static 'play_app/jquery-3.2.1.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
	<script src="{% static 'play_app/js/base.js' %}"></script>
	{% block scripts %}{% endblock %}
</body>

</html>