<!DOCTYPE html>
{% extends "play_app/base.html" %}
{% load staticfiles %}
	{% block title %}
		SpotiPlay
	{% endblock %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'play_app/css/index.css' %}">
	{% endblock %}

	{% block body_block %}
		<div class="row"></div>
		<div class="row">
			<!-- FORM CARD -->
			<div class="col s12 m12 l6">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'play_app/images/collage.jpg' %}">
					</div>
					<div class="card-content">
						<span class="card-title">Search for an artist:</span>
						<form id="searchForm-js" onsubmit="return validateSearch();" action="{% url 'play_app:search_result' %}" method="POST">
							{% csrf_token %}
							{{ form.artist }}
							<button class="teal accent-4 waves-effect waves-light btn" type="submit"> <i class="material-icons right">search</i>Search</button>
						</form>
					</div>
				</div>
			</div>

			<div class="col s12 m12 l4 offset-s0 offset-m0 offset-l1">
				<!-- ABOUT CARD -->
				<div class="row">
					<div class="col s12 m12 l12">
						<div class="card">
							<div class="card-content">
								<span class="card-title">About</span> <hr>
								<p>SpotiPlay is a personal project of mine. I have a passion for music and web development so putting them together seemed obvious! I go to concerts all the time and make playlists so that I go in prepared. With this application, you can save yourself hours of adding individual songs to a playlist for that upcoming concert, or you can relive a recent show by making a playlist out of that! To use:</p>
								<ol>
									<li>Log into your Spotify account with the Login button in the menu bar.</li>
									<li>Search for an artist.</li>
									<li>Choose a setlist.</li>
									<li>Name your playlist and choose whether it should be public or private</li>
									<li>Open up Spotify and enjoy!</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<!-- FEEDBACK CARD -->
				<div class="row">
					<div class="col s12 m12 l12">
						<div class="card">
							<div class="card-content">
								<span class="card-title">Feedback</span> <hr>
								<p>Have feedback? I'd love to hear it! Whether there's a feature you think should be implemented, a bug, or just a compliment, it is all welcome. Send any feedback to: <span class="grey-text">churt.dev@gmail.com</span></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="footer teal darken-4">
			<p class="white-text">
				SpotiPlay created by 
				<a class="grey-text" href="https://github.com/topher235" target="_blank">Christopher Hurt</a>, powered by 
				<a class="grey-text" href="https://www.spotify.com" target="_blank">Spotify</a> and 
				<a class="grey-text" href="https://www.setlist.fm" target="_blank">Setlist.fm</a>
			</p>
			<p class="white-text">Enjoying SpotiPlay? Developers like myself are powered by <a class="grey-text" href="https://www.paypal.me/CHurt257" target="_blank">coffee</a></p>
        </div>
	{% endblock %}

	{% block scripts %}
		<script src="{% static 'play_app/js/index.js' %}"></script>
	{% endblock %}