<!DOCTYPE html>
{% extends "play_app/base.html" %}
{% load staticfiles %}
	{% block title %}
		Home
	{% endblock %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'play_app/css/index.css' %}">
	{% endblock %}

	{% block home_class %}
		active
	{% endblock %}

	{% block body_block %}
		<div class="form-container">
			<form action="{% url 'play_app:search_result' %}" method="POST">
				{% csrf_token %}
				{{ form.artist }}
				<button class="teal accent-4 waves-effect waves-light btn" type="submit" <i class="material-icons right">search</i>Search</button>
			</form>
		</div>
		<!--<a class="btn" href="{% url 'play_app:logout' %}">Logout</a>-->
	{% endblock %}