<!DOCTYPE html>
{% extends 'play_app/base.html' %}
{% load staticfiles %}
	{% block title %}
		Search Results
	{% endblock %}

	{% block body_block %}
		<div class="row">

			<!-- Artist name and artist image -->
			<div class="col s6 m6 pin-card">
				<div class="card large">
					<div class="card-image">
						<img src="{{ image_url }}"/>
						<span class="card-title" id="artistName-js" class="pin-header">{{artist_list.0.name}}</span>
					</div>
					<div class="card-content">
						<form action="#" method="POST">
							{% csrf_token %}
							{{ playlist_form.as_p }}
						</form>
						<div class="switch">
							<label>
								Private
								<input id="visibility-js" type="checkbox">
								<span class="lever"></span>
								Public
							</label>
						</div> <br>
						<button id="playlistBtn-js" class="waves-effect waves-light btn" type="submit"><i class="material-icons right">get_app</i>Make Playlist</button>
					</div>
				</div>
			</div>

			<!-- Setlists -->
			<div class="col s5 push-s6">
				 <ul class="collapsible popout">
					{% for artist in artist_list %}
						<li>
							<div id="result-js" class="card-panel collapsible-header {% cycle 'green' 'green darken-2' %}">
								<h5 class="white-text">
									{{artist.setlist.venue_name}} <br>
									{{artist.setlist.venue_city}}, {{artist.setlist.venue_state}} <br>
									{{artist.setlist.date}}
								</h5>
								
							</div>

							<div class="collapsible-body">
								<div class="row">
									<div class="col">
										<h6> Songs </h6>
										<ol id="songsList-js">
											{% for song in artist.setlist.set_list %}
												{% if not song.name|lower in all_songs %}
													<li class="songName-js red-text">{{ song.name }}</li>
												{% else %}
													<li class="songName-js">{{ song.name }}</li>
												{% endif %}
											{% endfor %}

											{% for song in artist.setlist.encore_list %}
												{% if not song.name|lower in all_songs %}
													<li class="songName-js red-text">{{ song.name }}</li>
												{% else %}
													<li class="songName-js">{{ song.name }}</li>
												{% endif %}
											{% endfor %}
										</ol>
									</div>
									
								</div>
							</div>
						</li>
					{% endfor %}
				</ul> <!-- end accordion -->
			</div> <!-- end col of setlists -->
		</div> <!-- end row -->
	{% endblock %}

	{% block scripts %}
		<script>
			$(document).ready(function() {
				$('.collapsible').collapsible();
				$('.pin-card').pushpin({
					offset: 75
				});
			});
			var songs = '{{all_songs_json}}';
			var all_songs = JSON.stringify(songs)
			all_songs = jQuery.parseJSON(songs.replace(/&quot;/g,'"').replace(/&#39;/g,"'"));
		</script>
		<script src="{% static 'play_app/js/master.js' %}"></script>
	{% endblock %}