<!DOCTYPE html>
{% extends 'play_app/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
	<style>
		.parent {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			max-height: 500px;
			max-width: 500px;
		}
	</style>
{% endblock %}


{% block body_block %}
	<div class="parent">
			<div class="card">
				<div class="card-image">
					<img src="{% static 'play_app/images/headphones.jpg' %}" />
				</div>
				<div class="card-content">
					<span class="card-title black-text">Search error:</span>
					<h4>{{ error_message }}</h4>
					<button class="waves-effect waves-light btn-large" onclick="returnToHome()">Return</button>
				</div>
			</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		function returnToHome() {
			window.location = "/play_app/";
		}
	</script>
{% endblock %}