/*
 * Footer solution: https://codepen.io/cbracco/pen/zekgx
 */

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	min-height: 100%;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
}

.footer {
	position: absolute;
	right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

form {
	padding: 1em 1em 1em 1em;
}

.form-container {
	margin: 12em 10em 0em 10em;
}